

<div class="row">
  <div id="hide-show-button" class="button tiny radius secondary">
    CANCEL
  </div>
  
  <%= form_for(@budget) do |f| %>

    <div class="field">
      <%= f.label :date %>
      <% if mobile_device == "mobile" %>
        <%= f.date_field :date, id: "mobile-date", class: "radius", required: true %>
      <% else %>
        <%= f.text_field :date, id: "date", class: "radius", required: true %>
      <% end %>
    </div>


    <%= f.hidden_field :user_id, value: current_user.id %>

    <div class="actions">
      <%= f.submit 'ADD', class: 'button small radius wide-button success' %>
    </div>
  <% end %>
</div>