<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @budget.date %>
</p>

<p>
  <strong>User:</strong>
  <%= @budget.user_id %>
</p>

<%= link_to 'Edit', edit_budget_path(@budget) %> |
<%= link_to 'Back', budgets_path %>
