<%= content_for :title, 'Charts' %>

<script type="text/javascript">
  var d = new Date();
  var n = d.getFullYear();
  var set_year = localStorage.getItem('year');
  if (set_year == "" || set_year === null ) {
    localStorage.setItem('year', n)
  }
  if (localStorage.getItem('month') == "") {
    localStorage.setItem('month', 0)
  }
</script>


<div class="row">
  <div class="small-12 columns small-centered">
  <%#= render '/expenses/charts' %>
   
  <%#= column_chart @expenses.group(:date).sum(:amount),
                                        prefix: "$",decimal: "." %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns small-centered">   
    <h5><strong>2018   –   <%= number_to_currency(total_expenses(@expenses_2018)) %></strong></h5>
    
    <% Category.all.each do |c|  %>
      <%= c.description %>: 
        <%= number_to_currency(sum_category(@expenses_2018, c))  %></br>

      
    <% end %>

    <h5><strong>2019   –   <%= number_to_currency(total_expenses(@expenses_2019)) %></strong></h5>
   
    <% Category.all.each do |c|  %>
      <%= c.description %>: 
        <%= number_to_currency(sum_category(@expenses_2019, c))  %></br>

      
    <% end %>

    <h5><strong>2020   –   <%= number_to_currency(total_expenses(@expenses_2020)) %></strong></h5>
       
    
    <% Category.all.each do |c|  %>
      <%= c.description %>: 
        <%= number_to_currency(sum_category(@expenses_2020, c))  %></br>

      
    <% end %>
  </div>
</div>