<%= content_for :title, 'Charts' %>

<script type="text/javascript">
  var d = new Date();
  var n = d.getFullYear();
  var set_year = localStorage.getItem('year');
  if (set_year == "" || set_year === null ) {
    localStorage.setItem('year', n)
  }
  if (localStorage.getItem('month') == "") {
    localStorage.setItem('month', 0)
  }
</script>


<div class="row">
  <div class="small-12 columns small-centered">
 
    <%= render 'categories'  %>
    <%= render 'years'  %>
    <%= render 'form' %>
    <%= render 'charts'  %>

  </div>
</div>