<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @payment.name %><br>
  <%= image_tag @payment.logo.url(:thumb) %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
