<%= form_for(@expense) do |f| %>
 

  <div class="small-12 small-centered columns field">
    <%= f.label :date %>
    <%= f.text_field :date, id: "date" %>
  </div>
  <div class="small-12 small-centered columns field">
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>
  <div id="category-buttons" class="small-12 small-centered columns field">
    <%= f.label :category_id, "Category" %>
    <%= f.hidden_field :category_id, value: @expense.category_id  %>
    <% @categories.each do |category| %>
      <div class="category-button">
        <%= link_to category.description, 'javascript:;' %>
        <span class="hidden-id"><%= category.id %></span>
      </div>
      <% end %>
    <div class="add-category-button"><%= link_to "+", expenses_path %></div>

  </div>



  
  <div id="vendor-buttons" class="small-12 small-centered columns field">
    <%= f.label "Vendor" %>
    <%= f.text_field :vendor_id, class: "radius" %>
  </div>
  <div class="small-12 small-centered columns field">
    <%= f.submit "Add", class: 'button tiny radius' %>
  </div>
<% end %>

<%= render 'category_form' %>
<%= render 'vendor_form' %>

