<%= form_for(@expense) do |f| %>
 

  <div class="small-12 columns">
    <%= f.label :date %>
    <% if mobile_device == "mobile" %>
      <%= f.date_field :date, id: "mobile-date", class: "radius", required: true %>
    <% else %>
      <%= f.text_field :date, id: "date", class: "radius", required: true %>
    <% end %>
  </div>
  <div id="amount" class="small-12 columns">
    <%= f.label :amount %>
    <%= f.text_field :amount, class: "radius", required: true %>
  </div>
  <div id="category-buttons" class="small-12 columns">
    <%= f.label :category_id, "Category" %>
    <%= f.hidden_field :category_id, value: @expense.category_id %>
    <div class="hideable">
      <% @categories.each do |category| %>
        <div class="category-button">
          <%= link_to category.description, 'javascript:;' %>
          <span class="hidden-id"><%= category.id %></span>
        </div>
        <% end %>
      <div id="add-category-button"><%= link_to "+", expenses_path %></div>
    </div>
  </div>


  <div class="hideable">
    <%= link_to fa_icon("comment"), 'javascript:;', id: "comment-icon" %>
  </div>
  
  <div id="add-comment" class="hideable">
    <%= f.label "Comment" %>
    <%= f.text_area :comment, class: "radius", autofocus: true %>
  </div>
  <!-- <div class="hideable">
    <ul id="payment-type">
      <%# @payments.each do |p| %>
      <li id=<%#= p.id %> class="payment-logo"><%#= image_tag p.logo.url(:thumb) %></li>
      <%# end %>
      <%#= f.hidden_field :payment_id, value: @expense.payment_id, id: "payment-id" %>
    </ul>
  </div> -->
  <div class="">
    <%= f.submit "ADD", class: 'button small radius wide-button success' %>
  </div>
<% end %>

<%= render 'category_form' %>
<%= render 'vendor_form' %>

