<%= content_for :title, "Firelog" %>
<% unless signed_in? %>
  <div  class="row">
    <div class="small-12 medium-8 large-8 columns small-centered">
    <header id="title">
      <h1>Firelog</h1>
        <h4>Track My Burn Rate</h4>
    </header>
      <div id="home-message" class="small-12 medium-8 large-8 columns medium-centered large-centered ">
        <%= link_to "Get Started", new_user_registration_path, class: "button success radius" %>
      </div>

    </div>
  </div>
<% else %>


<p></p>
<%= render 'form' %>


<div id="expenses-list" class="small-12 small-centered columns">
  <h6>Expenses</h6>
  <% @expenses.each do |expense| %>
    <% if expense.date? %>
      <div class="expense small-4 large-2 medium-2 columns"><%= expense.date.strftime('%-m/%d/%y') %></div>
    <% end %>
    <% if expense.category_id %>
    <div class="expense small-4 large-3 medium-3 columns"><%= expense.category %></div>
    <% end %>
    <div class="expense small-3 large-3 medium-3 columns show-for-medium-up">Vendor</div>
    <div class="expense small-3 large-2 medium-2 columns show-for-medium-up">Cash</div>
    <div class="expense-amount expense small-4 medium-2 large-2 columns"><%= number_to_currency(expense.amount) %></div>
  <% end %>
</div>

<% end %>
