<%= content_for :title, "Firelog" %>
<% unless signed_in? %>

  <div  class="row">
    <div class="small-12 medium-8 large-8 columns small-centered">
    <header id="title">
      <h1>Firelog</h1>
        <h4>Track My Burn Rate</h4>
    </header>
    <div class="row">
      <div id="home-message" class="small-12 medium-8 large-8 columns small-centered medium-centered large-centered ">
        <%= link_to "Get Started", new_user_registration_path, class: "button success radius" %>
      </div>
    </div>

    </div>
  </div>
<% else %>

<div class="row">
  <div>
  <%= render 'form' %>

  <div id="expenses-list" class="">
    <%= form_tag(expenses_path, :method => "get", id: "search-form") do %>
      <%= hidden_field_tag :search, params[:search], id: "search-field" %>
    <% end %>
    <%= render 'monthly_expenses', locals: { expenses: @expenses} %>
  </div>

  </div>
</div>
<div class="row">
  <div class="small-12 columns small-centered">
  <%= render 'charts' %>
  </div>
</div>
<div class="row">
  <div class="small-12 columns small-centered">
  <%= render 'year_to_date' %>
  </div>
</div>
<% end %>



