<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @expense.amount %>
</p>

<p>
  <strong>Date:</strong>
  <%= @expense.date %>
</p>

<p>
  <strong>Category:</strong>
  <%= @expense.category_id %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @expense.vendor_id %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @expense.comment %>
</p>

<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
